body{
    margin: 0;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
}

#main-container{
    position: relative;
    height: auto;
}

.right-section-content{
    margin: 7vh 0 0 2vw;
    color: rgb(62, 91, 105);
}
.right-section-content-blue{
    margin: 7vh 0 0 2vw;
    color: white
}