#Popup{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(199, 198, 198, 0.377);
    z-index: 1000;
}
#pop-container{
    margin-top: 10vh;
    margin-left: 25vw;
    width: 50vw;
    height: 80vh;
    background: white;
}