#about > .left-section{
    height: 30vh;
}
#about > .right-section{
    height: 30vh;
}
#about h2{   
    color: rgba(34,125,170,1);
    font-size: 2.5em;
}
#about-right-content{
    max-height: 28vh;
    overflow-y: auto;
}